name: CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

##############################################################

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # cancel-in-progress: true

permissions:
  contents: read

env:
  TURBO_API: http://127.0.0.1:9080
  TURBO_TOKEN: this-is-not-a-secret
  TURBO_TEAM: myself
  # We have a real case where the verification is incorrect,
  # webpack appears to only ship one copy of ember-source
  #
  # We can deduce this without debugging too hard, because:
  # - we know that ember-source includes `@glimmer/validator`
  #   (bundled, not as a dependency)
  # - we know that `@glimmer/validator` has conniptions if it
  #   is included twice in the same app - an error is thrown.
  #
  # And right now, there is no error about `@glimmer/validator`
  # being included twice.
  #
  # See: https://github.com/embroider-build/embroider/issues/1789
  I_HAVE_BAD_PEER_DEPS_AND_WANT_A_BROKEN_BUILD: true

##############################################################

jobs:
  ##############################################################

  install_dependencies:
    name: Setup
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: wyvox/action@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: echo ${{ github.event.number }} > ./pr-number.txt

  ##############################################################

  lints:
    name: "Lint"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: [install_dependencies]

    steps:
      - uses: wyvox/action@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: pnpm turbo _:lint

  ##############################################################

  node_tests:
    name: "Node Tests"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: [install_dependencies]

    steps:
      - uses: wyvox/action@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: pnpm turbo test:node

  browser_tests:
    name: "Browser Tests"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: [install_dependencies]

    steps:
      - uses: wyvox/action@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: pnpm turbo test:ember
